<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization MemberHeader (untuk header otorisasi)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    
    # Redirect ke GitHub Pages jika domainnya adalah kecoding-nime.com
    RewriteCond %{HTTP_HOST} ^(www\.)?kecoding-nime\.com$ [NC]
    RewriteRule ^(.*)$ https://jabreak.github.io/kecoding-nime/$1 [L,R=301]

    # Jika ingin mengarahkan ke index.html, dan tidak menggunakan folder public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>
